.places {
  width: 987px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .places {
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .places {
    width: 93.75%;
    margin: auto;
  }
}
