.intro__quote-author {
    width: 91.7%;
    height: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin-bottom: 32px;
 }
 