.intro__quote-author {
  width: 56.25%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-bottom: 32px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .intro__quote-author {
      width: 90%;
    }
  }
  


@media all and (min-width: 768px) and (max-width: 1279px) {
    .intro__quote-author {
      width: 93.75%;
    }
  }