@font-face {
   font-family: "Inter";
   src: url("Inter\ Web/Inter-Regular.woff2") format("woff2");
   src: url("Inter\ Web/Inter-Regular.woff") format("woff");
}

@font-face {
   font-family: "Inter-Bold";
   src: url("Inter\ Web/Inter-Bold.woff") format("woff");
   src: url("Inter\ Web/Inter-Bold.woff2") format("woff2");
}

@font-face {
   font-family: "Inter-SemiBold";
   src: url("Inter\ Web/Inter-SemiBold.woff") format("woff");
   src: url("Inter\ Web/Inter-SemiBold.woff2") format("woff2");
}


.main {
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter';
}

.section__title {
  font-family: "Inter-Bold";
}

.logo {
   display: block;
   width: 270px;
   height: 70px;
   position:  absolute;
   top: 34px;
   left: 50%;
   margin-left: -135px;
}

.lead {
   width: 82%;
   min-height: 983px;
   margin: auto;
   margin-top: 194px;
}

.lead__title {
   width: 80%;
   min-height: 200px;
   font-style: normal;
   font-size: 96px;
   line-height: 1.04;
   text-align: center;
   margin: auto;
   margin-bottom: 32px;
   padding: 0;
   font-family: "Inter-Bold";
}

.lead__subtitle {
   width: 73%;
   min-height: 72px;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   margin: auto;
   margin-bottom: 64px;
   padding: 0;
}

.lead__image {
   position: relative;
   width: 984px;
   height: 615px;
   margin: auto;
}

.lead__rectangle {
   width: 100%;
   height: 100%;
   background: #000000;
   mix-blend-mode: hue;
   z-index: 2;
   position: absolute;
   top: 0;
}

.lead__photo {
   width: 100%;
   height: 100%;
}

.intro {
   width: 65%;
   min-height: 490px;
   max-width: 785px;
   padding-right: 199px;
   margin: auto;
   margin-bottom: 118px;
}

.intro__title {
   width: 100%;
   min-height: 116px;
   font-style: normal;
   font-family: "Inter-SemiBold";
   font-size: 54px;
   line-height: 1.07;
   padding: 0;
   margin-top: 92px;
}

.intro__quote {
   width: 91.7%;
   min-height: 102px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 34px;
}

.intro__quote-author {
   width: 91.7%;
   height: 34px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 34px;
   text-align: right;
}

.intro__paragraph {
   width: 91.7%;
   min-height: 156px;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 163%;
}

.gallery {
   width: 1184px;
   height: 442px;
   display: grid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   margin: auto;
   grid-gap: 16px;
   margin-bottom: 12px;
}

.gallery__item {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.gallery__image {

}

.places {
   width: 987px;
   max-height: 4098px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   align-content: center;
}

.place {
   width: 984px;
   max-height: 756px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   margin-bottom: 80px;
   margin-top: 0;
   align-content: center;
}

.place__name {
   width: 460px;
   max-height: 152px;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   font-family: "Inter-Bold";
   margin: 0;
   margin-bottom: 48px;
   
}

.place__image {
   width: 460px;
   height: 460px;
}

.place__artist {
   width: 456px;
   min-height: 45px;
   align-self: flex-end;
   margin-bottom: 48px;
   margin-left: 40px;
   
}

.place__artist-title {
   width: 50px;
   height: 15px;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.12em;
   text-transform: uppercase;
   color: #AAAAAA;
   margin: 0 0 8px 0;
}

.place__artist-name {
   width: 456px;
   height: 22px;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   margin: 0;

}

.place__description {
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 163%;
   max-width: 484px;
   max-height: 460px;
   margin-left: 40px;
}

.place__paragraph {
  margin: 0; 
  margin-bottom: 25px;
  padding: 0;
}

.place__paragraph:nth-last-child(1) {
   margin-bottom: 0;
}

.place__nft-link { 
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 48px;
   color: #FFFFFF;
   text-decoration: none;
   width: 248px;
   height: 48px;   
   background-color: #0278FE;
   border-radius: 4px;
   text-align: center;
   margin-top: 48px;
}


.invitation {

}

.invitation__overlay {

}

.invitation__background-image {

}

.invitation__text {

}

.invitation__title {

}

.invitation__information {

}

.invitation__link-box {

}

.invitation__link {

}

.footer__copyright {

}



























@media all and (max-width: 320px) {
   .lead__image {
    width: 320px;
    height: 200px; 
   }
   .logo {
    width: 200px;
    height: 51.85px;
   }
   .cover {
    background: #E5E5E5;
   }
   .cover__title {
    width: 288px;
    height: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
   }
   .cover__subtitle {
    width: 280px;
    height: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;  
    color: #FFFFFF;
   }
   .cover__overlay {
    width: 320px;
    height: 254px;
    background: #2A2C2F;
    opacity: 0.3; 
   }
   .cover__background {
    width: 321.26px;
    height: 254px;
    background: url(image.png);
   }
   .footer__copyright {
    width: 165px;
    height: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
   }
   .places {
    width: 320px;
    height: 626px;
   }
   .place {
    width: 320px;
    height: 626px; 
   }
   .place__title {
    position: absolute;
    width: 288px;
    height: 35px; 
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
   }
   .place__website-
}