@media all and (max-width: 320px) {
   .__image {
    width: 320px;
    height: 200px; 
   }
   .__logo {
    width: 200px;
    height: 51.85px;
   }
   .cover {
    background: #E5E5E5;
   }
   .cover__title {
    width: 288px;
    height: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
   }
   .cover__subtitle {
    width: 280px;
    height: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;  
    color: #FFFFFF;
   }
   .cover__overlay {
    width: 320px;
    height: 254px;
    background: #2A2C2F;
    opacity: 0.3; 
   }
   .cover__background {
    width: 321.26px;
    height: 254px;
    background: url(image.png);
   }
   .footer__copyright {
    width: 165px;
    height: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
   }
   .places {
    width: 320px;
    height: 626px;
   }
   .place {
    width: 320px;
    height: 626px; 
   }
   .place__title {
    position: absolute;
    width: 288px;
    height: 35px; 
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
   }
   .place__website-
}