.place__image {
    width: 460px;
    height: min-content;
 }


 @media all and (min-width: 320px) and (max-width: 767px) {
    .place__image {
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
    }
}


@media all and (min-width: 768px) and (max-width: 1279px) {
    .place__image {
        width: 44.27vw;
        position: relative;
}
}