.lead {
  margin: auto;
  margin-top: 90px;
  width: 984px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .lead {
    margin-top: 50.15px;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .lead {
    width: 100%;
  }
}
