.intro__quote {
  width: 91.7%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .intro__quote {
    width: 90%;
    font-size: 24px;
    line-height: 34px;
    margin: auto;
    margin-bottom: 10px;
  }
}
