.place__name {
  width: 50%;
  box-sizing: border-box;
  padding-right: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-bottom: 46px;
  align-self: flex-end;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__name {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 auto 30px;
    width: 90%;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .place__name {
    font-size: 42px;
    padding-right: 28px;
  }
}
