.lead__title {
  width: 80%;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
  padding: 0;
  font-weight: 900;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 90%;
    margin-bottom: 16px;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .lead__title {
    width: 93.75%;
  }
}
