.logo {
    display: block;
    width: 270px;
    height: 70px;
    position:  absolute;
    top: 34px;
    left: 50%;
    margin-left: -135px;
 }


 @media all and (min-width: 320px) and (max-width: 767px) {
    .logo {
        width: 200px;
        margin-left: -100px;
        top: 20px; 
    }
 }