.place__paragraph {
    margin: 0; 
    margin-bottom: 25px;
    padding: 0;
  }

.place__paragraph:nth-last-child(1) {
    margin-bottom: 0;
 }

 @media all and (min-width: 768px) and (max-width: 1279px) {
   .place__paragraph {
   font-size: 16px;
 }
}