.place__buy-link {
    width: 248px;
    grid-area: link;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .place__buy-link {
        margin-top: 0;
        width: 90%;
        margin: auto;
    }
}
