.lead__image {
  position: relative;
  max-width: 984px;
  margin: auto;
  display: block;
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .lead__image {
    width: 100%;
    max-width: none;
    position: relative;
  }
}
