.lead__subtitle {
  width: 73%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
  padding: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    width: 90%;
    margin-bottom: 40px;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    width: 93.75%;
    margin-bottom: 36px;
  }
}
