.cover {
  margin: auto;
  margin-top: 92px;
  max-width: 1184px;
  min-height: 740px;
  background-image: url("../../images/__background.jpg");
  display: flex;
  position: relative;
  margin-bottom: 92px;
}


.cover:hover  .cover__overlay{
    opacity: 0.8;
  }

@media all and (min-width: 320px) and (max-width: 767px) {
  .cover {
    min-height: 254px;
    margin-top: 64px;
    margin-bottom: 64px;
    background-size: cover;
  }
}
