.cover__title {
  font-size: 72px;
  margin: 0;
  margin-bottom: 32px;
  line-height: 106%;
  font-weight: 900;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
