.place__artist-title {
    width: 50px;
    height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0 0 8px 0;
 }

 @media all and (min-width: 320px) and (max-width: 767px) {
     .place__artist-title {
         width: 90%;
     }
 }