.place {
  width: 984px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place {
    width: 100%;
    margin-bottom: 50px;
  }

  .place:last-of-type {
    margin-bottom: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .place {
    width: 100%;
  }
}
