.place__artist-name {
  width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__artist-name {
    width: 288px;
  }
}
