.place__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  width: 50%;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__description {
    margin: 30px auto;
    width: 90%;
    max-width: none;
    font-size: 16px;
  }
}

