.place__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
  margin-left: 40px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__description {
    margin: 30px auto;
    width: 90%;
    max-width: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .place__description {
    width: 45.83vw;
    margin-left: 28px;
  }
}
