.cover__information {
    max-height: 66px;
    width: 180px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 122%;
    font-size: 18px;
  }

  @media all and (min-width: 320px) and (max-width: 767px) {
    .cover__information {
      height: 48px;
      font-size: 14px;
      line-height: 114%;
      margin-bottom: 16px;
    }
  }