.place__artist {
    width: 456px;
    align-self: flex-end;
    margin-bottom: 48px;
    margin-left: 40px;
 }

 @media all and (min-width: 320px) and (max-width: 767px) {
     .place__artist {
        margin: 0 auto 30px;
        width: 90%;
     }
 }

 @media all and (min-width: 768px) and (max-width: 1279px) {
     .place__artist {
         width: 43.888%;
         align-self: flex-start;
         margin-left: 28px;
     }
 }