.place__artist {
  width: 50%;
  align-self: flex-end;
  margin-bottom: 48px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__artist {
    margin: 0 auto 30px;
    width: 90%;
  }
}

